{% extends 'base.html' %}

{% block 'content' %}
    <h1>Cities</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for city in cities %}
                <tr>
                    <td><a href="{% url 'city.show' city.id %}">{{ city.name }}</a></th>
                </tr>
            {% empty %}
                <tr>
                    <td>No cities found</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Hotel search</h1>
    <select id="country-select" class="form-control">
        <option value="">Select a city</option>
        {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
        {% endfor %}
    </select>
    <div id="hotel-result"></div>

    <script>
        $('#country-select').on('change', function() {
            var cityId = $(this).val();
            $.ajax({
                url: '/cities/' + cityId + "/hotels",
                method: 'GET',
                success: function(data) {
                    $('#hotel-result').html(data);
                }
            });
        });
    </script>
{% endblock %}