<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.hotel_code }}</a></th>
                <td>{{ hotel.name }}</a></th>
            </tr>
        {% empty %}
            <tr>
                <td>No hotels found</th>
            </tr>
        {% endfor %}
    </tbody>
</table>